* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito;
}

.title {
    font-weight: 800;
}

main {
    padding: 24px;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.header-container {
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;

}

.countries-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.country-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 0.2);

}

.card-title {
    font-size: 24px;
    margin-block: 16px;
}

.card-text {
    padding-inline: 15px;
}

.card-text p {
    margin-block: 8px;
}

.country-card img {
    width: 100%;
}

@media(max-width: 768px) {
    .countries-container {
        justify-content: center;
    }

    .title {
        font-size: 16px;
    }

    .header-content p {
        font-size: 12px;
    }
}